@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.container {
  border: 1px solid $light-gray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: fit-content;
}

.label {
  @include text-small;
  color: $light-gray;
  text-align: left;
}

.input {
  @include text-paragraph;
  color: $black;
  border: none;
  padding: 5px 0 0 10px;
  width: 100%;
  box-sizing: border-box;
}