@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";


.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  width: 70%;
  max-width: 800px;
  height: fit-content;
  position: relative;
  z-index: 20;
  background-color: $white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.title {
  @include h1;
  text-align: center;
  margin-top: 0;
}

.message {
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 5px;
  text-align: left;
  white-space: pre-wrap;
}

.variables {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-block: 20px;
}

.variablesTitle {
  @include h2;
  margin: 0;
}

.variable {
  width: 200px;
}
