@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.btn {
  border-radius: 8px;
  height: 40px;
  color: $white;
  border: 1px solid;
  cursor: pointer;
  @include text-bold;
  padding: 8px 16px;
  vertical-align: middle;
  transition: background-color 0.2s ease-in-out,
    border-color 0.2s;

  &_primary {
    @include button-color($primary, 10%);
  }

  &_secondary {
    @include button-color($secondary, 10%);
  }

  &_danger {
    @include button-color($danger, 10%);
  }

  &_variable {
    @include button-color($light-green, 10%);
    color: $black;
  }
}
