@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text {
  @include text-paragraph;
  width: 100%;
  margin-left: auto;
  resize: none;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid $light-gray;
}
